
.navbar{
    background-color: white;
    border-bottom: 1px solid #dddddd;
    padding: 20px 0;
}

.container{
    width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: bold;
   
}


.menu{
    list-style: none;
    display: flex;
}

.menu li{
    margin-left: 25px;
}

.menu li a{
    text-decoration: none;
    color: #555555;
    font-size: 16px;
}

.menu li a:hover{
    color: #2F5BFF;
}


.button a{
    text-decoration: none;
    background-color: #2F5BFF;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 15px;
}

.button a:hover{
    background-color: #1f46d6;
}


/* Reset */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{
    font-family: Arial, Helvetica, sans-serif;
}


.container{
    width:1100px;
    margin:auto;
}


.hero{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
                url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-text{
    color: white;
    width: 700px;
}

.hero-text h1{
    font-size: 55px;
    margin-bottom: 20px;
}

.hero-text em{
    font-style: italic;
}

.hero-text p{
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.hero-button{
    display: inline-block;
    background-color: #2F5BFF;
    color: white;
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 5px;
    font-size: 16px;
}

.hero-button:hover{
    background-color: #1f46d6;
}

/* Logo */

.logo{
    display:flex;
    align-items:center;
    
    
}

.logo img{
    width:110px;
    height:auto;
    
}


.speakers{
    padding:80px 0;
    text-align:center;
    background:#f8f9fb;
}

.speakers h2{
    font-size:36px;
    margin-bottom:40px;
}

.speaker-container{
    width:1100px;
    margin:auto;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

.speaker-card{
    width:48%;
    background:white;
    border-radius:10px;
    overflow:hidden;
    margin-bottom:30px;
    box-shadow:0 2px 8px rgba(0,0,0,.1);
}

.speaker-card img{
    width:100%;
    height:260px;
    object-fit:cover;
}

.track{
    color:#2F5BFF;
    font-weight:bold;
    margin-top:15px;
}

.speaker-card h3{
    margin:10px 0;
    font-size:22px;
}

.speaker-card p{
    margin-bottom:20px;
    color:#555;
}


.pricing{
    padding:80px 0;
    text-align:center;
    background:#f8f9fb;
}

.pricing h2{
    font-size:36px;
    margin-bottom:10px;
}

.pricing-subtitle{
    color:#666;
    margin-bottom:50px;
}

.pricing-container{
    width:1100px;
    margin:auto;
    display:flex;
    justify-content:space-between;
}

.price-card{
    width:31%;
    background:white;
    padding:35px 25px;
    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,.1);
}

.price-card h3{
    font-size:24px;
    margin-bottom:15px;
}

.price-card h1{
    color:#2F5BFF;
    margin-bottom:25px;
}

.price-card ul{
    list-style:none;
    margin-bottom:30px;
}

.price-card ul li{
    margin:12px 0;
    color:#555;
}

.price-card a{
    display:inline-block;
    text-decoration:none;
    background:#2F5BFF;
    color:white;
    padding:12px 25px;
    border-radius:5px;
}

.featured{
    background:#2F5BFF;
    color:white;
    transform:scale(1.05);
}

.featured h1,
.featured ul li{
    color:white;
}

.featured a{
    background:white;
    color:#2F5BFF;
}

/* ==========================
      HACKATHON
========================== */

.hackathon{
    background:#0f172a;
    color:white;
    padding:80px 0;
    text-align:center;
}

.hackathon-content{
    width:1100px;
    margin:auto;
}

.hackathon h2{
    font-size:36px;
    margin-bottom:20px;
}

.hackathon-content > p{
    width:700px;
    margin:0 auto 40px;
    line-height:1.6;
}


.hackathon-info{
    display:flex;
    justify-content:space-between;
    margin-bottom:40px;
}

.info-box{
    width:31%;
    background:#1e293b;
    padding:25px;
    border-radius:8px;
}

.info-box h3{
    margin-bottom:10px;
}

.hackathon-btn{
    display:inline-block;
    background:#2F5BFF;
    color:white;
    text-decoration:none;
    padding:12px 25px;
    border-radius:5px;
}

.hackathon-btn:hover{
    background:#2147d9;
}



.footer{
    background:#0f172a;
    color:white;
    padding:40px 80px;
}

.footer-top{
    width:1100px;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.footer-logo img{
    width:110px;
}

.social-links a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    font-size:15px;
}

.social-links a:hover{
    color:#2F5BFF;
}

.footer hr{
    width:1100px;
    margin:25px auto;
    border:none;
    border-top:1px solid #333;
}

.copyright{
    text-align:center;
    font-size:14px;
    color:#bdbdbd;
}

.footer-icons{
    list-style:none;
    display:flex;
    gap:15px;
}

.footer-icons img{
    width:24px;
    height:24px;
}
